<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="evEngine" class="org.example.evSeriesEngine"/>
    <bean id="kengine" class="org.example.kSeriesEngine"/>
<!-- example of constructor injection-->

  <bean id="car" class="org.example.Car" init-method="init" destroy-method="destroy" >
        <constructor-arg name="engine" ref="kengine" />
    </bean>

    <!-- example of setter injection-->
    <!--
    <bean id="car" class="org.example.Car" scope="prototype">
        <property name="engine" ref="evEngine"/>
        <constructor-arg name="engine" ref="kengine"/>
    </bean>
    -->

<!--    <bean id="truck" class="org.example.Truck" autowire="byType"/>-->

</beans>
